<% if !current_page?(book.user) %>
    <span class="favorite">
    <% if book.iine?(current_user) %>
      <%= form_for(book.favorites.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{book.favorites_count}", class: "glyphicon glyphicon-heart" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(book.favorites.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :book_id, book.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{book.favorites_count}", class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>